<% include partials/header.ejs %>


    <!-- MAIN CONTENT -->
    <main class="container">
        <!-- Customized Page -->
        <style>
        body {color: goldenrod; font-size: 24px; font-family: Helvetica, Arial, non-serif;}
        p
        {
        text-indent: 2em;
        line-height: 2em;
        }  
        </style>
        <h1><%= title %></h1>
        <!-- Introduce Myself -->
        <p>
            I am a first year Computer Programmer student at Georgian College and currently seeking a challenging Co-op position where I am able to apply my excellent problem solving skills. When I read your posting for Operations Intern, I felt that my talents were a solid match for your requirements.
            My computer experience at college has been focused on Java and web technologies, including HTML5, PHP, and MySQL. My strong academic record is evidence of how quickly I learn, my enthusiasm to inquire knowledge. Being detail oriented and learning new programs, in particular web related technologies, is something I am passionate about. I am self-motivated, I often find myself working long hours until the problem is solved or the task is complete. After all, there is no such reward as the feeling of successfully solving a difficult problem.
        </p>
        
    </main>

    <% include partials/footer.ejs %>