<% include partials/header.ejs %>


    <!-- MAIN CONTENT -->
    <main class="container">

        <h1><%= title %></h1>
        <!-- Customized Page -->
        <style>
            body 
            {
                background-color: #9adde2;
            }
        </style>
        <!-- Input Your Info -->
        <form>
            <div class="form-group">
                <label for="emil">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Lionel@gmail.com">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="ofewh62ao">
            </div>
            <div class="form-group">
                <label for="address">Address</label>
                <input type="address" class="form-control" id="address" placeholder="109 Livestone Street">
            </div>
            <div class="form-group">
                <label for="postalcode">Postal Code</label>
                <input type="postalcode" class="form-control" id="postalcode" placeholder="L4M 8D0">
            </div>
            <div class="form-group">
                <label for="exampleInputFile">File input</label>
                <input type="file" id="exampleInputFile">
                <p class="help-block">Example block-level help text here.</p>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Check me out
                </label>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>

    </main>



    <% include partials/footer.ejs %>