<% include partials/header.ejs %>
<!-- MAIN CONTENT -->
    <main class="container">
        <!-- Customized Page -->
        <style>
        body {color: mediumturquoise; font-size: 24px; font-family: Helvetica, Arial, non-serif;}
        p
        {
        text-indent: 2em;
        line-height: 2em;
        }  
        </style>
        <!-- Provide My Service for Business -->             
        <h1>Please Join Us to Start Your Business Online</h1>
        <p><a href="http://www.wealthyaffiliate.com?a_aid=65c1fae2" target="_top">Click Here!</a></p>
        
        <h1>Visit Sponsored Online Store</h1>
        <p><a href="http://www.bazaarinegypt.com/" target="_top">Bazaar in Egypt</a></p>
        <p><a href="http://www.gemzngold.com/" target="_top">Gemz N Gold</a></p>
    </main>

    <% include partials/footer.ejs %>