<% include partials/header.ejs %>
<!-- MAIN CONTENT -->
    <main class="container">
        <!-- Customized Page -->
        <style>
        body {color: orangered; font-size: 24px; font-family: Helvetica, Arial, non-serif;}
        p
        {
        text-indent: 2em;
        line-height: 2em;
        }  
        </style>
        <!-- Illustrate My Skills -->     
        <h1>Technical Skills:</h1>
        <p>•	Enrolled in the Georgian College Computer Programmer program where I have received extensive</p> 
        <p>     training in HTML and PHP in Web page design</p>
        <p>•	Communicated thorough knowledge of the design, modeling, and implementation of a database</p>
        <p>•	Educated in basic additional programming and applications experience includes: Java, Arduino</p>
        <p>•	Excelled in courses focused on mathematical and analytical theory of the computer industry</p>

        <h1>Organizational Skills:</h1>
        <p>•	Created a Web Page that allows people to register, log in, add new records, edit records, </p> 
        <p>     delete records and upload photos</p>
        <p>•	Created a project that using ultrasonic sensor detect hand distance to change the music playing</p>
        <p>•	Proven excellent time management and critical thinking skills to evaluate and solve problems</p>
        <p>•	Experienced in developing, debugging, and modifying program code to design specifications</p>
        <p>•	Participated in analyzing and defining the specification of a system based on user requirements</p>
        <p>•	Applied thorough understanding of business concepts and effective member of a team</p>

        <h1>Additional Skills:</h1>
        <p>•	Demonstrated ability to communicate with diverse range of customers; Fluent in Mandarin.</p>
        
    </main>

    <% include partials/footer.ejs %>